.Contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

main{
    grid-column: 1/6;
    grid-row: 2/5;

}

.Articulos{
    background-color: rgb(103, 199, 103);
    border-radius: 5%;
    box-shadow: 2px 3px 2px grey;
    margin: 2vw;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 0px;
}


h2{
    background-color: white;
    box-sizing: border-box;
    border: black 2px solid;
    border-radius: 5%;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
