.Contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

header{
    grid-column: 1/6;
}

.Foto{
    width: 100%;
    margin: auto;
}



.Nombre{
    min-width: 10vw;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 10vw;
}

.Main-M-D{
    background-color: red;
    padding: 2vw;
    box-sizing: border-box;
    
}

#Inicio-B{
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    list-style: none;
}

#MenuDes{
    display: none;
    
}

#Barra{
    background-color: transparent;
    font-size: 4vw;
    margin-left: 1vw;
}

#EquisX{
    background-color: transparent;
    font-size: 3vw;
    margin-left: 1vw;
    display: none;
    text-align: center;
}



.UL-M{
    margin: 0px;
    padding: 0px;
}

.A-M{
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    display: block;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.LI-M{
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5vw;
    display: block;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}




.LI-M :hover{
    color: white;
    text-shadow: 2px 1px 2px black;
    font-style: italic;
    background-color: rgb(101, 219, 97);
    border-radius: 10%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    box-sizing: border-box;

}
